<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-3.5.1.min.js"></script>
  <script src="echarts.min.js"></script>
  <script src="weight_chart.js"></script>
  <script src="vue.js"></script>
  <title>Fitness</title>
</head>

<body>


  <div id="weight_echarts" style="width: 600px;height:400px;"></div>

  <div id='main' v-if='is_input'>
    <label for="input_weight">体重</label>
    <input type="text" id="input_weight" v-model='weight'>
    <input type='submit' v-on:click='input_weight'>
  </div>

</body>

</html>

<script>
  var create_vue = function (is_input) {
    const app = new Vue({
      el: '#main',
      data: {
        is_input: is_input,
        weight: ''
      },
      methods: {
        input_weight: function (event) {

          if (this.weight == ''){
              alert('请输入体重')
              return false
          }
          form_data = new FormData()
          form_data.append('input_weight', this.weight)
          post_data('/fitness/', form_data)
        },
      }
    })
    return app
  }
</script>

<script>
  let data = get_data('/fitness/')
  create_echart(data['date'], data['weights'])

  let is_input = get_data('/is_fitness_input/')
  console.log(is_input)
  is_input = is_input == '1' ? false : true
  let app = create_vue(is_input)

</script>